<html>

<head>
    <title>{applicationName} Account Verification</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <h2>{applicationName} Account Verification</h2><br />
    <p>{username}, thanks for registering for {applicationName}!</p>
    <p>Please verify your account by following this link: <a
            href="http://marshall-labs.com/api/auth/verify/{verificationCode}/users/{userId}">Verify Your Account</a>.
    </p><br />
    <p>Thanks,</p>
    <p>{applicationName} Team</p>
</body>

</html>